<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>739973474084-r0723ia41pdgv3d8i27dbha7laebn85u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.739973474084-r0723ia41pdgv3d8i27dbha7laebn85u</string>
	<key>API_KEY</key>
	<string>AIzaSyDGpag2_YPpA0Dq_mSM2B3eekzVBKz6xBo</string>
	<key>GCM_SENDER_ID</key>
	<string>739973474084</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>katlaeva.Adopt-A-Dog</string>
	<key>PROJECT_ID</key>
	<string>adopt-a-dog-d14e1</string>
	<key>STORAGE_BUCKET</key>
	<string>adopt-a-dog-d14e1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:739973474084:ios:86b32ad8e887daaab8f5b1</string>
	<key>DATABASE_URL</key>
	<string>https://adopt-a-dog-d14e1.firebaseio.com</string>
</dict>
</plist>